In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [6]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

# Basic Functions

In [7]:
def say_hello():
    print("hello")
    print('are')
    print('you')

In [8]:
say_hello()

hello
are
you

In [9]:
say_hello

In [10]:
def say_hello(name):
    print(f' Hello {name}')

In [11]:
say_hello('jose')

 Hello jose

In [12]:
def say_hello(name='Default'):
    print(f' Hello {name}')

In [13]:
say_hello()

 Hello Default

In [14]:
def add_num(num1,num2):
    return num1+num2

In [15]:
result = add_num(10,20)

In [16]:
result

30

In [17]:
def print_result(a,b):
    print(a+b)

In [18]:
def return_result(a,b):
    return a+b

In [19]:
result = print_result(10,20)

30

In [20]:
result

In [21]:
type(result)

NoneType

In [22]:
result = return_result(10,20)

In [23]:
result

30

In [24]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [25]:
result = myfunc(10,20)

30

In [26]:
result

30

In [27]:
def sum_numbers(num1,num2):
    return num1+num2

In [28]:
sum_numbers(10,20)

30

In [29]:
sum_numbers('10','20')

'1020'

# functions with logic

In [30]:
2 % 2

0

In [31]:
3 % 2

1

In [32]:
41 % 40

1

In [33]:
20 % 2

0

In [34]:
20 % 2 == 0

True

In [35]:
21 % 2 ==0

False

In [36]:
def even_check(number):
    return number % 2 == 0

In [37]:
even_check(21)

False

In [38]:
even_check(20)

True

In [39]:
# return true if any number is even inside list

In [40]:
def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
        
    return False

In [41]:
check_even_list([1,3,5])

False

In [42]:
check_even_list([2,4,5])

True

In [43]:
check_even_list([2,1,1,1])

True

In [44]:
def check_even_list(num_list):
    #return all the even numbers in a list
    
    #placeholder variables
    even_numbers = []
    
    for number in num_list:
        if number % 2 ==0:
            even_numbers.append(number)
            
        else :
            pass
        
    return even_numbers

In [45]:
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

In [46]:
check_even_list([1,3,5])

[]

# tuple unpacking with python functions

In [47]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [48]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [49]:
for ticker,price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [50]:
for ticker,price in stock_prices:
    print(price)

200
400
100

In [51]:
for ticker,price in stock_prices:
    print(price +(0.1*price))

220.0
440.0
110.0

In [52]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

def employee_check(work_hours):
    
    current_max =0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
            
        else:
            pass
        
    #Return
    return (employee_of_month,current_max)

In [53]:
result = employee_check(work_hours)

In [54]:
result

('Cassie', 800)

In [55]:
name,hours = employee_check(work_hours)

In [56]:
name

'Cassie'

In [57]:
hours

800

# interaction between python functions

In [58]:
example = [1,2,3,4,5,6,7]

In [59]:
from random import shuffle

In [60]:
shuffle(example)

In [61]:
example

[5, 4, 1, 6, 3, 7, 2]

In [62]:
result = shuffle(example)

In [63]:
result

In [64]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [65]:
result = shuffle_list(example)

In [66]:
result

[6, 4, 2, 7, 1, 3, 5]

In [98]:
mylist = [' ','O',' ']

In [99]:
shuffle_list(mylist)

[' ', 'O', ' ']

In [100]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input('Pick a number: 0,1 or 2: ')
        
    return int(guess)

In [101]:
player_guess()

Pick a number: 0,1 or 2:
Pick a number: 0,1 or 2: 2

2

In [104]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print("Correct!")
    else:
        print("Wrong guess!")
        print(mylist)

In [105]:
# INITIAL LIST

mylist = [' ','O',' ']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# USER GUESS
check_guess(mixedup_list , guess)

Pick a number: 0,1 or 2: 2
Wrong guess!
['O', ' ', ' ']

# args and kwargs in python

In [106]:
def myfunc(a,b,c=0,d=0,e=0):
    #returns 5% of the sum
    return sum((a,b,c,d,e)) * 0.05

In [107]:
myfunc(40,60)

5.0

In [108]:
myfunc(40,60,100,300)

25.0

In [109]:
myfunc(40,60,100,200,300)

35.0

In [116]:
def myfunc1(*args):
    print(args)

In [117]:
myfunc1(4,5,6,7,8)

(4, 5, 6, 7, 8)

In [118]:
def myfunc(*args):
    return sum(args) * 0.05

In [119]:
myfunc(40,60)

5.0

In [120]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [122]:
myfunc(fruit='apple' , veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [128]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    
    print("I would like {} {}".format(args[0],kwargs['food']))

In [129]:
myfunc(10,20,30,fruits='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruits': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [159]:
def myfunc(*args):
    even = [] 
    for n in args:
        if n%2==0:
            even.append(n)
        else:
            pass
    return even 

myfunc(1,2,3,4,5,6,7,8,9)

[2, 4, 6, 8]

In [160]:
def myfunc(word):
    result = ''
    index = 0
    for letter in word:
        if index % 2 == 0:
            result += letter.lower()
        else:
            result +=letter.upper()
        index +=1
    return result

In [161]:
myfunc('AbfkDFSskdfh')

'aBfKdFsSkDfH'

# Lambda expressions , map and filter functions

In [162]:
def square(num):
    return num**2

my_nums = [1,2,3,4,5]

for item in map(square , my_nums):
    print(item)

1
4
9
16
25

In [165]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [166]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]
    
names = ['Sampik' , 'Eve', 'Sally']

In [167]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [168]:
def check_even(num):
    return num%2 == 0
mynums = [1,2,3,4,5,6]

for n in filter(check_even,mynums):
    print(n)

2
4
6

In [169]:
list(filter(check_even,mynums))

[2, 4, 6]

In [170]:
def square(num):
    result = num**2
    return result

In [171]:
square(3)

9

In [172]:
def square(num): return num**2
square(3)

9

In [173]:
square = lambda num: num **2
square(5)

25

In [174]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [175]:
list(filter(lambda num:num%2==0,mynums))

[2, 4, 6]

In [176]:
names

['Sampik', 'Eve', 'Sally']

In [178]:
list(map(lambda x:x[0],names))

['S', 'E', 'S']

In [179]:
list(map(lambda x:x[::-1],names))

['kipmaS', 'evE', 'yllaS']

# nested statements and scope

In [180]:
x = 25 

def printer():
    x = 50
    return x

print(x)

25

In [181]:
print(printer())

50

In [182]:
lambda num:num**2

In [185]:
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    name = 'Sammy'
    
    def hello():
        print('Hello '+name)
        
        
    hello()

In [187]:
greet()

Hello Sammy

In [190]:
# Global
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    #enclosing
    #name = 'Sammy'
    
    def hello():
        
        #local
        #name = 'i am a local'
        print('Hello '+name)
        
        
    hello()

In [191]:
greet()

Hello THIS IS A GLOBAL STRING

In [192]:
x= 50

def func():
    global x
    print(f'X is {x}')
    
    
    # local reassignment on a global variable!
    x= 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GLOBAL X TO {x}')

In [193]:
print(x)

50

In [194]:
func()

X is 50
I JUST LOCALLY CHANGED GLOBAL X TO NEW VALUE

In [195]:
print(x)

NEW VALUE