In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
l=[]
type(l)

list

In [4]:
t1 = (234,34,"sudh", 3.45, True)

In [5]:
l1= [234,34,"sudh", 3.45, True]

In [6]:
t1[0]

234

In [8]:
t1[5]

IndexError: tuple index out of range

In [9]:
t1[0:4]

(234, 34, 'sudh', 3.45)

In [10]:
t1[::-1]

(True, 3.45, 'sudh', 34, 234)

In [11]:
t1[-1]

True

In [12]:
l1[0]

234

In [13]:
l1[0]= "kumar"

In [14]:
l1

['kumar', 34, 'sudh', 3.45, True]

In [15]:
#tuple object is immutable
t1[0]= "hdjdj"

TypeError: 'tuple' object does not support item assignment

In [16]:
t2= (234,54,565)

In [17]:
t1+t2

(234, 34, 'sudh', 3.45, True, 234, 54, 565)

In [18]:
t1*4

(234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True)

In [19]:
t1

(234, 34, 'sudh', 3.45, True)

In [20]:
34 in t1

True

In [21]:
3456 in t1

False

In [22]:
t1

(234, 34, 'sudh', 3.45, True)

In [23]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [24]:
t3 = (23,343,45,454,54)

In [25]:
max(t3)

454

In [26]:
t4= ("dklfsj","dlfj","dj")
max(t4)

'dlfj'

In [27]:
t1

(234, 34, 'sudh', 3.45, True)

In [28]:
t1.index(34)

1

In [29]:
l1

['kumar', 34, 'sudh', 3.45, True]

In [30]:
l1.index(34)

1

In [31]:
t1.count(34)

1

In [32]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [33]:
t3

(23, 343, 45, 454, 54)

In [34]:
min(t3)

23

In [35]:
t1

(234, 34, 'sudh', 3.45, True)

In [36]:
t6 =(56)

In [37]:
#how to insert data in tuple

In [38]:
l5=list(t1)

In [39]:
l5

[234, 34, 'sudh', 3.45, True]

In [40]:
l5.insert(3,t6)

In [41]:
l5

[234, 34, 'sudh', 56, 3.45, True]

In [42]:
tuple(l5)

(234, 34, 'sudh', 56, 3.45, True)

In [43]:
t= ((3,4,5,6,7), ("sdfsd",45,45), ("454",54),45,454,67,[4,5,6,7])

In [44]:
t[6][1]

5

In [45]:
t[6][1:4]

[5, 6, 7]

In [46]:
t[1][0]

'sdfsd'

In [47]:
for i in t:
    print(i)

(3, 4, 5, 6, 7)
('sdfsd', 45, 45)
('454', 54)
45
454
67
[4, 5, 6, 7]

In [48]:
for i in t:
    if type(i)== tuple:
        print(i[0])

3
sdfsd
454

In [49]:
t1

(234, 34, 'sudh', 3.45, True)

In [50]:
t2

(234, 54, 565)

In [51]:
# wheteher length of these two tuples is same or not

In [52]:
if len(t1)== len(t2):
    print("its same")
else:
    print("not same")

not same

In [53]:
t= (234, 34, 'sudh', 3.45, 34,34,34, True,"kumar")

In [54]:
i = input("user input")

if i in t:
    print("yes your name is available")
else:
    print("your name is not available")

user inputsam
your name is not available

In [55]:
t

(234, 34, 'sudh', 3.45, 34, 34, 34, True, 'kumar')

In [56]:
l1

['kumar', 34, 'sudh', 3.45, True]

In [57]:
t1 = (34)

In [58]:
del(t)

In [59]:
t

NameError: name 't' is not defined

In [60]:
del(l1)

In [61]:
l1

NameError: name 'l1' is not defined

In [62]:
l= [324,343,343,34]

In [63]:
t2

(234, 54, 565)

# set

In [64]:
x= set()

In [65]:
type(x)

set

In [66]:
l=[34,45,45,45,67,34,56,78,"sudh","sudh","Sudh","kumar"]

In [67]:
s=set(l)

In [68]:
s

{34, 45, 56, 67, 78, 'Sudh', 'kumar', 'sudh'}

In [69]:
for i in s:
    print(i)

sudh
34
67
45
78
Sudh
56
kumar

In [70]:
34 in s

True

In [71]:
s[0]

TypeError: 'set' object is not subscriptable

In [72]:
l=[34,45,45,45,67,34,56,78,"sudh","sudh","Sudh","kumar",45,454545454,45]

In [73]:
s=set(l)
s

{34, 45, 454545454, 56, 67, 78, 'Sudh', 'kumar', 'sudh'}

In [74]:
for i in s:
    print(i)

sudh
34
67
45
78
Sudh
454545454
56
kumar

In [75]:
34 in s

True

In [76]:
s[0]

TypeError: 'set' object is not subscriptable

In [77]:
s= set()
s

set()

In [78]:
s.add(45)

In [79]:
s

{45}

In [80]:
s.add("sudh")

In [81]:
s

{45, 'sudh'}

In [82]:
s.add("fsdfsd")

In [83]:
s.add([23455,454])

TypeError: unhashable type: 'list'

In [84]:
l=[34,45,45,45,67,34,56,78,"sudh","sudh","Sudh","kumar",45,454545454,45,[3,34,6]]

In [85]:
s = set(l)

TypeError: unhashable type: 'list'

In [86]:
s

{45, 'fsdfsd', 'sudh'}

In [87]:
s.add(45)

In [88]:
s

{45, 'fsdfsd', 'sudh'}

In [89]:
s.remove(45)

In [90]:
s

{'fsdfsd', 'sudh'}

In [91]:
45 in s

False

In [92]:
s.clear()

In [93]:
s

set()

In [94]:
s

set()

In [95]:
s=("sdfsd", 234, 345,"wer")

In [96]:
s

('sdfsd', 234, 345, 'wer')

In [97]:
s1= set(l)

TypeError: unhashable type: 'list'

In [98]:
l=[345,5665545,45665,66,777,6]

In [99]:
s1

NameError: name 's1' is not defined

In [100]:
s + s1

NameError: name 's1' is not defined

In [101]:
s*4

('sdfsd',
 234,
 345,
 'wer',
 'sdfsd',
 234,
 345,
 'wer',
 'sdfsd',
 234,
 345,
 'wer',
 'sdfsd',
 234,
 345,
 'wer')

In [102]:
s

('sdfsd', 234, 345, 'wer')

In [103]:
l4= list(s)

In [104]:
l4.append(454)

In [105]:
l4

['sdfsd', 234, 345, 'wer', 454]

In [106]:
t4= tuple(s)

In [107]:
set(t4)

{234, 345, 'sdfsd', 'wer'}

# dictionary

In [108]:
x={}

In [109]:
type(x)

dict

In [110]:
x1= {34,56}

In [111]:
type(x1)

set

In [112]:
x={"name": "sudh", "age": 3455}

In [113]:
type(x)

dict

In [114]:
x1={"name": "sudh", "age": 3455,"name":"sfdsfd",True:"fsds" ,"key": False, 3454:456}

In [115]:
x1

{'name': 'sfdsfd', 'age': 3455, True: 'fsds', 'key': False, 3454: 456}

In [116]:
x1={"name": "sudh", "age": 3455,"name":"sfdsfd",True:"fsds" ,"key": False, 3454:456,%:34}

SyntaxError: invalid syntax (<ipython-input-116-a64c504ee41d>, line 1)

In [117]:
x1={"name": "sudh", "age": 3455,"na":"sudh",True:"fsds" ,"key": False, 3454:456}

In [118]:
x1

{'name': 'sudh',
 'age': 3455,
 'na': 'sudh',
 True: 'fsds',
 'key': False,
 3454: 456}

In [119]:
x1={"name": "sudh", "age": 3455,"na":"sudh",True:"fsds" ,"key": False, 3454:456,"_sdfs":[23,344,566,45]}

In [120]:
x1

{'name': 'sudh',
 'age': 3455,
 'na': 'sudh',
 True: 'fsds',
 'key': False,
 3454: 456,
 '_sdfs': [23, 344, 566, 45]}

In [121]:
x1={"name": "sudh", "age": 3455,"na":"sudh",True:"fsds" ,"key": False, 3454:456,"_sdfs":[23,344,566,45],"x":{"name": "sudh", "age": 3455}}

In [122]:
x1

{'name': 'sudh',
 'age': 3455,
 'na': 'sudh',
 True: 'fsds',
 'key': False,
 3454: 456,
 '_sdfs': [23, 344, 566, 45],
 'x': {'name': 'sudh', 'age': 3455}}

In [123]:
#we can include value as a set, list, tuple in dictionary

In [124]:
#key wise list is not allowed

In [125]:
#key wise tuple is allowed

In [126]:
#key wise dictionary is not allowed

In [127]:
x2={"name": "sudh", "age": 3455,"na":"sudh",True:"fsds" ,"key": False, 3454:456,"_sdfs":[23,344,566,45],"x":{"name": "sudh", "age": 3455}}

In [128]:
x2["key"]

False

In [129]:
x2[3454]

456

In [130]:
x2["_sdfs"]

[23, 344, 566, 45]

In [131]:
x2["_sdfs"][3]

45

In [132]:
x3= {5:"ker", "k4": [345,534543,534]}

In [133]:
x4={"k4": "fsdfs"}

In [134]:
x3 + x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [135]:
x3*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [136]:
x3

{5: 'ker', 'k4': [345, 534543, 534]}

In [137]:
x3["k4"]="sudh"

In [138]:
x3

{5: 'ker', 'k4': 'sudh'}

In [139]:
#so dictionary is mutabble

In [140]:
x3['k4']= 456

In [141]:
x3

{5: 'ker', 'k4': 456}

In [142]:
x3['k4']-=10

In [143]:
x3

{5: 'ker', 'k4': 446}

In [144]:
x3.keys()

dict_keys([5, 'k4'])

In [145]:
'k4' in x3.keys()

True

In [146]:
for i in x3.keys():
    print(x3[i])

ker
446

In [147]:
x3

{5: 'ker', 'k4': 446}

In [148]:
x2

{'name': 'sudh',
 'age': 3455,
 'na': 'sudh',
 True: 'fsds',
 'key': False,
 3454: 456,
 '_sdfs': [23, 344, 566, 45],
 'x': {'name': 'sudh', 'age': 3455}}

In [149]:
x2.keys()

dict_keys(['name', 'age', 'na', True, 'key', 3454, '_sdfs', 'x'])

In [150]:
for i in x2.keys():
    print(x2[i])

sudh
3455
sudh
fsds
False
456
[23, 344, 566, 45]
{'name': 'sudh', 'age': 3455}

In [151]:
for i in x2.keys():
    print(type(x2[i]))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'list'>
<class 'dict'>

In [152]:
x2.items()

dict_items([('name', 'sudh'), ('age', 3455), ('na', 'sudh'), (True, 'fsds'), ('key', False), (3454, 456), ('_sdfs', [23, 344, 566, 45]), ('x', {'name': 'sudh', 'age': 3455})])

In [153]:
#print all the key data from this
for i in x2.items():
    print(i[0])

name
age
na
True
key
3454
_sdfs
x

In [154]:
for i in x2.items():
    print(i[1])

sudh
3455
sudh
fsds
False
456
[23, 344, 566, 45]
{'name': 'sudh', 'age': 3455}

In [155]:
x5= {(34,56,56): "fsdfsdf"}

In [156]:
x5[(34,56,56)]

'fsdfsdf'

In [157]:
len(x2)

8

Task

0. take input as a paragraph by using input function.

1. convert all of this input into list of words

2. remove all the duplicate element from your list

3. use above distinct element as a key for dictionary and assign your name as a value of all the keys for dictionary.

4. try to print tuples of all the values from dictionary.

5. try to print list of all the keys from dictionary.

In [158]:
data= input("enter the paragraph--->")

# Q1.
data_list = data.split(" ")

# Q2.
no_duplicate= set(data_list)

# Q3.
my_dict={}
for i in no_duplicate:
    my_dict[i]= "sampik"
    
#Q4. 
tup_list=[]
for i in my_dict.keys():
    tup_list.append(my_dict[i])
    
print("tuple list --->", tuple(tup_list))

#Q5. 
list_keys= []
for i in my_dict.key():
    list_keys.append(i)
    
print("List keys --->", list_keys)

enter the paragraph--->sa kjk j ljkjdjlkj jkldfjoiekl kjfkjkl kjfdjlkjkj j
tuple list ---> ('sampik', 'sampik', 'sampik', 'sampik', 'sampik', 'sampik', 'sampik')

AttributeError: 'dict' object has no attribute 'key'

In [159]:
paragph = input("enter the para:")
lst1 = paragph.split(" ")
s1= set(lst1)
dic1= dict.fromkeys(s1, "sam")
t1=tuple(dic1.keys())
l2=list(dic1.values())

enter the para:dfjfjlfjfokem fkjkf kjjdjfkjk jkjdkfk dfkjdkl

In [160]:
d= {"company": "Ineuron","course": "full stack data science", "year": 2021}

In [161]:
for i in d:
    print("print a key  :  ",  i  , " ; ", "value wise: ", d[i])

print a key  :   company  ;  value wise:  Ineuron
print a key  :   course  ;  value wise:  full stack data science
print a key  :   year  ;  value wise:  2021

In [162]:
"course" in d

True

In [166]:
for i in d:
    if i== "year":
        if d[i]> 2021:
            print("year is fine")
        else:
            d[i] = 2022

In [167]:
d

{'company': 'Ineuron', 'course': 'full stack data science', 'year': 2022}

In [168]:
#dictionary comprehension

In [170]:
my_dict= {}
for i in range(10):
    my_dict[i] = i * i

In [171]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [172]:
{i: i*i  for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [173]:
{i: i*i  for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}